body {
	background-image: url(film.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.form {
  	position: relative;
  	z-index: 1;
  	background: #FFFFFF;
  	border-radius: 10px;
  	max-width: 360px;
  	margin: 0 auto 50px;
  	padding: 45px;
  	text-align: center;
}
.form input {
  	outline: 0;
  	background: #f2f2f2;
  	width: 100%;
  	border: 0;
  	border-radius: 5px;
  	margin: 0 0 10px;
  	padding: 10px;
  	box-sizing: border-box;

}
.reg {
  	width: 360px;
  	padding: 8% 0 0;
  	margin: auto;
}

.form span {
  	font-size: 28px;
  	color: #4b6cb7;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #f3f4f7;
}
